@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Track Progress on Game Development</h1>
    <h4 style="width:50%;margin-right:auto;margin-left:auto;">
        This development tracking database allows you to efficiently
        manage teams and find out the statuses of various game projects.
    </h4>
</div>
